<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyChOVHJoUDoEt33IZVlPJyQSvAYbwBHgVY</string>
	<key>GCM_SENDER_ID</key>
	<string>873497849742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAuthApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-auth-app-67ef3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-auth-app-67ef3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873497849742:ios:7cd9d7e6cd4faad739bedf</string>
</dict>
</plist>